<h1>
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<div class="col-md-12 col-md-offset-5">
email : <%= @user.email %>
</div>
<div class="col-md-12 col-md-offset-5">
location : <%= @user.location %>
</div>